@page "/"
<link rel="stylesheet" href="Styles/HomePage.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<body>
  <!-- ESCOLHA DE LOCAL -->
  <div class="Container Dropdown @(abrirDropdownLocal ? "open" : "")">
    <button class="dropdown-button" type="button" @onclick="ToggleDropdownLocal">
      @(!string.IsNullOrEmpty(local) ? local : "Local")
    </button>

    @if (abrirDropdownLocal)
    {
      <ul>
        @foreach (var item in cidades)
        {
          <li>
            <a href="#" @onclick="() => SelecionarLocal(item)">@item</a>
          </li>
        }
      </ul>
    }
  </div>

  <!-- ESCOLHA DE SERVICO -->
  <div class="Container Dropdown @(abrirDropdownServico ? "open" : "")">
    <button class="dropdown-button" type="button" @onclick="ToggleDropdownServico">
      @(!string.IsNullOrEmpty(servico) ? servico : "Serviço")
    </button>

    @if (abrirDropdownServico)
    {
      <ul>
        @foreach (var item in servicos)
        {
          <li>
            <a href="#" @onclick="() => SelecionarServico(item)">@item</a>
          </li>
        }
      </ul>
    }
  </div>

  <div class="listagem">
    <!-- LISTAGEM DE SERVIÇOS -->
    @foreach (var c in Usuario.Usuarios)
    {
      if (c.cidade == local && c.servico == servico)
      {
        <div class="Card">
          <div class="Card-Titulo">@c.servico</div>
          <div class="CardContainer">
            <img src="@c.imagemUrl" alt="imagem">
            <div class="Card-Content">
              <div class="Card-NomeUsuario">João Silva</div>
              <div class="Card-Frase">"Transformando estilos com atitude."</div>
              <button type="button">Agendar</button>
              <div class="Card-Horarios">3 horários livres</div>
            </div>
          </div>
        </div>
      }
    }
  </div>


  @code {
    private List<string> cidades = new List<string>
    {
    "Tietê",
    "Cerquilho",
    "Boituva",
    "Tatuí",
    "Rafard",
    "Capivari",
    "Porto Feliz"
    };

    private List<string> servicos = new List<string>
    {
    "Cabelereiro/Barbeiro",
    "Lava Autos",
    "Manicure/Pedicure",
    "Hospedagem",
    "Psicologo",
    "Massagem"
    };

    private bool abrirDropdownServico = false;

    private void ToggleDropdownServico()
    {
      abrirDropdownServico = !abrirDropdownServico;
    }

    private void SelecionarServico(string escolha)
    {
      servico = escolha;
      abrirDropdownServico = false;
    }

    private bool abrirDropdownLocal = false;

    private void ToggleDropdownLocal()
    {
      abrirDropdownLocal = !abrirDropdownLocal;
    }

    private string local = "";

    private void SelecionarLocal(string escolha)
    {
      local = escolha;
      abrirDropdownLocal = false;
    }

    private string servico = "";

    class Usuario
    {
      public string nome;
      public string servico;
      public string cidade;
      public string frase;
      public int horariosLivres;
      public string imagemUrl;
      public string link;

      public Usuario(string nome, string servico, string cidade, string frase, int horariosLivres, string imagemUrl, string
      link)
      {
        this.nome = nome;
        this.servico = servico;
        this.cidade = cidade;
        this.frase = frase;
        this.horariosLivres = horariosLivres;
        this.imagemUrl = imagemUrl;
        this.link = link;
      }

      public static List<Usuario> Usuarios = new List<Usuario>();
    }

    protected override void OnInitialized()
    {
      Usuario.Usuarios.Add(new Usuario(
      "Maria Fernanda",
      "Manicure/Pedicure",
      "Boituva",
      "Sua beleza começa nas unhas!",
      5,
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIP4WsCZ045tVPeV6OjJqjVMH1MIBSgOYU2A&s",
      "https://example.com/perfil-maria"
      ));
    
      Usuario.Usuarios.Add(new Usuario(
      "Maria Fernanda",
      "Manicure/Pedicure",
      "Boituva",
      "Sua beleza começa nas unhas!",
      5,
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIP4WsCZ045tVPeV6OjJqjVMH1MIBSgOYU2A&s",
      "https://example.com/perfil-maria"
      ));
            Usuario.Usuarios.Add(new Usuario(
      "Maria Fernanda",
      "Manicure/Pedicure",
      "Boituva",
      "Sua beleza começa nas unhas!",
      5,
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIP4WsCZ045tVPeV6OjJqjVMH1MIBSgOYU2A&s",
      "https://example.com/perfil-maria"
      ));
            Usuario.Usuarios.Add(new Usuario(
      "Maria Fernanda",
      "Manicure/Pedicure",
      "Boituva",
      "Sua beleza começa nas unhas!",
      5,
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIP4WsCZ045tVPeV6OjJqjVMH1MIBSgOYU2A&s",
      "https://example.com/perfil-maria"
      ));
            Usuario.Usuarios.Add(new Usuario(
      "Maria Fernanda",
      "Manicure/Pedicure",
      "Boituva",
      "Sua beleza começa nas unhas!",
      5,
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIP4WsCZ045tVPeV6OjJqjVMH1MIBSgOYU2A&s",
      "https://example.com/perfil-maria"
      ));
            Usuario.Usuarios.Add(new Usuario(
      "Maria Fernanda",
      "Manicure/Pedicure",
      "Boituva",
      "Sua beleza começa nas unhas!",
      5,
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIP4WsCZ045tVPeV6OjJqjVMH1MIBSgOYU2A&s",
      "https://example.com/perfil-maria"
      ));
            Usuario.Usuarios.Add(new Usuario(
      "Maria Fernanda",
      "Manicure/Pedicure",
      "Boituva",
      "Sua beleza começa nas unhas!",
      5,
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIP4WsCZ045tVPeV6OjJqjVMH1MIBSgOYU2A&s",
      "https://example.com/perfil-maria"
      ));      Usuario.Usuarios.Add(new Usuario(
      "Maria Fernanda",
      "Manicure/Pedicure",
      "Boituva",
      "Sua beleza começa nas unhas!",
      5,
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIP4WsCZ045tVPeV6OjJqjVMH1MIBSgOYU2A&s",
      "https://example.com/perfil-maria"
      ));
    }
  }
</body>
